/*
    Propiedad grid
*/

main{
    height: 90vh;
    display: grid;
    grid-gap: 1vmin;
    /* rows / columns */
    grid: auto-flow 10fr 5fr / 2fr 8fr;
}

main > *{
    background: var(--c_sky);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 1vmin);
}