.App {
    min-height: 100vh;
}

.App-logo {
    height: 10vmin;
    animation: App-logo-spin infinite 20s linear;
}

.App-header {
    height: 10vh;
    background-color: var(--c_black);
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: calc(10px + 2vmin); */
}

@keyframes App-logo-spin{
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}