@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root{
    --monse: 'Montserrat', sans-serif;
    --c_sky: #22A7F0;
    --c_green: #009B90;
    --c_red: #D73C2C;
    --c_purple: #7E349D;
    --c_black: #282c34;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: var(--c_black);
    font-family: var(--monse);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}